.days {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 200px);
    gap: 10px;
    grid-auto-rows: 200px;
    padding: 20px;
}

.day {
    text-align: center;
    display: table;
}

.day p {
    display: table-cell;
    vertical-align: middle;
    font-size: 4em;
}

.disabled {
    background-color: gray;
}

.enabled {
    background-color: firebrick;
}

.enabled:hover {
    cursor: pointer;
}